{% extends 'portfolio/layout.html' %}
{% load static %}

{% block list %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'projects' %}">
        <h5 class="neon">Projects</h5>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'certificates'%}">
        <h5 class="neon">Certificates</h5>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">
        <h5 class="name-neon">About</h5>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">
        <h5 class="neon">Contact</h5>
    </a>
</li>
{% endblock %}

{% block body %}
<main style="padding-top:14%;">
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-5 offset-md-1 about-heading">
            <h1>Hi, I<span class="name-neon">'</span>m <span class="name-neon">Zeyad</span></h1>
            <br>
            <p>A passionate undergraduate student majoring in Computer Science and Engineering,
                actively seeking internships in the field of computer engineering.
                My primary interests lie in Web Development specially Backend Dvelopment.
                I am eager to apply my knowledge and skills gained through real-life projects, 
                which are showcased here.</p>
            <p>I am consistently enhancing my knowledge and skills through courses and substantial projects 
                to develop a unique and expert presence in my field. Self-discipline has been the key in getting me to 
                this point, and it will continue to guide me towards my ambitions. 
                Please feel free to reach out to me so that we can collaborate and achieve our goals together. </p>
            <br>
            <a href="{% static 'Portfolio/Resume.pdf' %}" download="Zeyad's Resume">
                <button class="btn btn-dark neon resume">Resume <i class="fa fa-download"></i></button>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 about-img mt-md-0 mt-4 ">
            <img src="{% static 'portfolio/main.jpeg' %}" class="img-fluid">
        </div>
    </div>
</div>
</main>
{% endblock %}