{% extends 'portfolio/layout.html' %}
{% load static %}

{% block list %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'projects' %}">
        <h5 class="neon">Projects</h5>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'certificates'%}">
        <h5 class="neon">Certificates</h5>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">
        <h5 class="name-neon">About</h5>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">
        <h5 class="neon">Contact</h5>
    </a>
</li>
{% endblock %}

{% block body %}
<main style="padding-top:14%;">
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-5 offset-md-1 about-heading">
            <h1>Hi, I<span class="name-neon">'</span>m <span class="name-neon">Zeyad</span></h1>
            <br>
            <p>A <strong>Senior</strong> Computer Science and Engineering student at Egypt-Japan University of Science and Technology <strong>(E-JUST)</strong>
                with CGPA of <strong>3.89</strong>, aspiring to become a professional <strong>Back-End Developer</strong>. 
                I am actively seeking internships and freelance opportunities in back-end and full-stack web developement 
                in order to apply my knowledge and skills I have gained through my academic studies, personal projects and previous internships. 
            </p>
            <p>I am dedicated to continuously expanding my expertise through courses and significant projects, 
                striving to build a distinct and expert presence in my field.<strong> Self-discipline</strong> and 
                <strong>Consistency</strong> have been crucial in my journey so far and will continue to drive me towards
                my professional goals. I am eager to collaborate and achieve shared success, so please feel free to reach out. </p>
            <br>
            <a href="{% static 'portfolio/Resume.pdf' %}" download="Zeyad's Resume">
                <button class="btn btn-dark neon resume">Resume <i class="fa fa-download"></i></button>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 about-img mt-md-0 mt-4 ">
            <img src="{% static 'portfolio/main.jpeg' %}" class="img-fluid">
        </div>
    </div>
</div>
</main>
{% endblock %}